.table-wrapper{
   width: 100%;
}

.table{
   display: table;
   overflow: hidden;
   table-layout: fixed;
   border-collapse: collapse;
   box-shadow: 0px 10px 10px #ccc;
   border-radius: 20px;
   white-space: nowrap;
   width: 100em;
   max-width: 80%;
   margin: auto;
   overflow-x: auto;
}

.table thead{
   background-color: #1976d2;
   color: white;
}

.table th, .table td{
   padding: 0.8rem;
}

.table td{
   border-top: 0.5px solid #ddd;
   overflow: hidden;
   text-overflow: ellipsis;
}

.table tr:hover{
   background-color: #f1f1f1;
   cursor: pointer;
}

